.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Dark overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: white;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    position: relative;
  }
  
  .modal-image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .modal-info {
    text-align: left;
    margin-bottom: 10px;
  }
  
  .modal-close {
    background-color: #3897f0; /* Instagram blue */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .modal-close:hover {
    background-color: #2874c7; /* Darker blue on hover */
  }